<h1>Pages#projects</h1>
<p>Find me in app/views/pages/projects.html.erb</p>
<div id="portafolio">
<div class="row">
    <div class="col"> 
            <div class="card" style="width: 18rem;">
            <%= image_tag 'cupon-5.jpg', class: 'card-img-top' %>
            <div class="card-body">
            <h5 class="card-title">Proyecto 1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="boton btn btn-primary">Ver más</a>
            </div>
        </div>
    </div>
    
        <div class="col"> 
            <div class="card" style="width: 18rem;">
            <%= image_tag 'cupon-3.jpg', class: 'card-img-top' %>
            <div class="card-body">
            <h5 class="card-title">Proyecto 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="boton btn btn-primary">Ver más</a>
            </div>
        </div>
    </div>
    
    <div class="col"> 
    <div class="card" style="width: 18rem;">
    <%= image_tag 'cupon-6.jpg', class: 'card-img-top' %>
    <div class="card-body">
    <h5 class="card-title">Proyecto 3</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="boton btn btn-primary">Ver más</a>
    </div>
</div>
</div>

</div>

</div>
